<form action="/register" method="POST">
  <div class="container">
   
<label for="menu"></label>
<select name="menu" id="menu" placeholder="Please choose option">
<option value="query">Have a query?</option>
<option value="sponser">Sponser us</option>
<option value="other">other</option>
</select>

    <label for="fname"></label>
    <input type="text" placeholder="First name" name="fname" id="fname" required>

    <label for="lname"></label>
    <input type="text" placeholder="Last name" name="lname" id="lname" required>

    <label for="email"></label>
    <input type="email" placeholder="Email" name="email" id="email" required>

    <label for="msg"></label>
    <input type="text" placeholder="Message" name="msg" id="msg" required>
    <hr>

   
    <button  type="submit" class="submit">Submit</button>
    <button type="submit" class="submit">Reset</button>
  </div>

  
</form>